<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Sitema EAD</title>
  </head>
  <body>
    <header>
      <img src="./img/logo.png" />
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li class="isActive"><a href="#">Cursos</a></li>
        <li><a href="#">Contato</a></li>
      </ul>

      <div class="profile">
        <i class="fa-solid fa-circle-user" style="font-size: 24px"></i>
        <span>Ralisson Mattias</span>
      </div>
    </header>

    <main>
      <nav>
        <h3 class="course_title">CURSO PROGRAMAÇÃO PHP</h3>

        <div class="module">
          <h4 class="module_title">Módulo 01</h4>

          <ul class="module_list">
            <li>
              <a href="#">Introdução</a>
            </li>
            <li>
              <a href="#">Instalação dos aplicativos</a>
            </li>
            <li>
              <a href="#">CONFIGURAÇÃO DO VSCODE</a>
            </li>
          </ul>
        </div>

        <div class="module">
          <h4 class="module_title">Modulo 02</h4>

          <ul class="module_list">
            <li>
              <a href="#">Variáveis</a>
            </li>
            <li>
              <a href="#">Laços de repetição</a>
            </li>
            <li>
              <a href="#">Funções</a>
            </li>
          </ul>
        </div>

        <div class="module">
          <h4 class="module_title">Módulo 01</h4>

          <ul class="module_list">
            <li>
              <a href="#">Introdução</a>
            </li>
            <li>
              <a href="#">Instalação dos aplicativos</a>
            </li>
            <li>
              <a href="#">CONFIGURAÇÃO DO VSCODE</a>
            </li>
          </ul>
        </div>

        <div class="module">
          <h4 class="module_title">Modulo 02</h4>

          <ul class="module_list">
            <li>
              <a href="#">Variáveis</a>
            </li>
            <li>
              <a href="#">Laços de repetição</a>
            </li>
            <li>
              <a href="#">Funções</a>
            </li>
          </ul>
        </div>
      </nav>

      <section class="content">
      </section>
    </main>

    <footer>
      <span>Copyright © 2022 - DevCurso</span>
    </footer>
  </body>
</html>
