@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");

:root {
  --primary-color: #1c3166;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--primary-color);
  width: 100%;
  height: 100px;
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  margin-right: 40px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.menu li:hover {
  opacity: 0.6;
}

.isActive {
  background-color: #00a9d4;
  color: #fff;
}

.menu a {
  color: #fff;
}

.menu a:hover {
  opacity: 0.6;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.profile span {
  font-weight: 500;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--primary-color);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
}

nav {
  height: calc(100% - 100px);
  width: 20%;
  background-color: #f4f4f4;
  padding: 30px;
  align-items: center;
  overflow-y: scroll;
}

.content {
  height: 100%;
  width: 80%;
}

.course_title {
  text-align: center;
  margin-bottom: 10px;
}

.module {
  margin-bottom: 20px;
}

.module_title {
  margin-bottom: 15px;
  font-weight: 600;
}

.module_list > li {
  margin-left: 30px;
  margin-bottom: 5px;
  list-style: disc;
  cursor: pointer;
  text-transform: uppercase;
  color: #000;
}

.module_list > li > a {
  color: #000;
}

.module_list > li:hover {
  opacity: 0.6;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 169, 212, 0.4);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
